@import "/variables";

.aktiviteter{
    background-color: $accentColorDark;
    position: absolute;
    top: 0;
    padding-bottom: 4rem;

    &__liste{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}