@import "/variables";

.heading{
    padding: $mainPadding;
    padding-bottom: 0.5rem;
    color: $primaryColor;
    background-color: RGBA(94, 46, 83, 0.7);
    font-weight: 400;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}